#header{
  background-color: lightskyblue;
}

#header{
  background-color: lightskyblue;
  height: 5em;
  width: 100%;
  position: fixed;
  top:0;
  }
#header h1{
  color: #06618b;
  text-align: center;
  font-size: 3em;
  padding: .3em;
  margin: 0;
  position: fixed;
  top:0; 
  z-index: 0.9;
  width: 100%;
  }
#header-link-div { 
  z-index: 1;
  font-size: 1.3em;
  margin-right: 1em;
  width: 100%
  }
#header-link { 
  width: 30%;
  margin-right: 1em;
  color: #06618b;
  position: fixed;
  top:1.6em; 
  z-index: 1;
  padding-left: 3em;
  }

  #header-state-div { 
    z-index: 1;
    font-size: 1.3em;
    margin-left: 80%;
    width: 100%;
    justify-self: right;
    }

  #header-state { 
    width: 100%;
    color:  #06618b;
    position: fixed;
    top:1.6em; 
    z-index: 1;
    }

.parks-l-head{
  font-size: 3em;
  text-align: center;
}

#park-l{
  background-color: lightskyblue;
  margin-top: 5em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  height: 100%;
}



.parks-l-link{
margin: 5%;
text-align: center;
text-decoration: none;
}
.parks-l-name {
text-decoration: none;
font-size: 2em;

}
.parks-l-designation {
  font-size: 1em;
  }

.park-l-image{
  height: 8em;
  width: 8em;
  margin:  1em;
}

#park-d{
  background-color: lightskyblue;
  margin-top: 5em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

.park-d-image{
  width: 90%;
  justify-content: center;
  margin: 5%;
}

.park-d-image{
  display: block;
  width: 90%;
}

.park-d-filler{
  height: 30em;
  background-color: lightskyblue;
}

#state-select{
  background-color:lightskyblue;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-left: 20%;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 30em;
  font-size: 5em;
  align-content: center;
  align-items: center;
;
}
#state-select select{
font-size: .5em;
display:block;
}
.state-button{
  color:black;
  background-color:lightsalmon;
  font-size: .5em;
  display:block;
  margin-top: 2em;
  height: 2em;
  width: 9.8em;
  }

footer {
  width: 100%;
  position: fixed;
  bottom: 0;

}

small {
  text-align: center;
  display: block;
  background-color: lightskyblue;
  color: #06618b;
  padding: 1em 0 1em 0;
}

@media only screen 
and (max-width: 480px){
  html {
    font-size: 9px;
  }
  .parks-l-designation {
    font-size: 1.5em;
    }
}